<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">
	<!-- 启用 ${...} 配置 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 引入数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"/>	
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
<!-- 	<mybatis:scan base-package="com.cxy.dao"/> -->
<!--     <bean class="org.apache.ibatis.session.defaults.DefaultSqlSessionFactory"> -->
<!--         <property name="configuration"> -->
<!--             <bean class="org.apache.ibatis.session.Configuration"> -->
<!--                 <property name="environment"> -->
<!--                     <bean class="org.apache.ibatis.mapping.Environment"> -->
<!--                         <property name="dataSource" ref="dataSource"/>  -->
<!--                     </bean>  -->
<!--                 </property> -->
<!--                 <property name="loadedResources" value="classpath:sqlmapper/*.xml"/>  -->
<!--             </bean>  -->
<!--         </property>  -->
<!--     </bean> -->
<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> -->
<!--         <property name="basePackage" value="com.cxy.dao" /> -->
<!--     </bean> -->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath*:sqlmapper/*.xml" />
    </bean>

	<import resource="applicationContext-plugin.xml"/>

</beans>